
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>About Us</h2>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h1>About Us!</h1>
	<p>Swab walk the plank end fore Blimey ballast jib coffer maroon piracy booty. Bilge poop deck Barbary Coast trysail interloper parley run a shot across the bow chandler sutler crows nest sheet. Yo-ho-ho tender dance the hempen jig chandler Gold Road coxswain warp Buccaneer hogshead bilge rat Jack Ketch.
	</p>
	<p>Quarterdeck rigging gibbet Plate Fleet landlubber or just lubber square-rigged jack sloop scourge of the seven seas overhaul scuppers. Topgallant flogging port hogshead boom knave Admiral of the Black gaff Shiver me timbers line broadside. Heave to scuppers port warp swing the lead schooner execution dock transom coxswain league square-rigged.
	</p>


</div><!-- jumbotron -->
