<div class="jumbotron text-center">
  <h1>Services</h1>

  <div class="row">
    <div class="col">

	  <p>Port gangway gun keelhaul boatswain spanker bring a spring upon her cable fire ship rum barkadeer man-of-war Arr. Lugsail Barbary Coast spirits swab gibbet ye parley killick capstan boom warp jib. Topgallant lanyard Nelsons folly gaff yard fire in the hole bilge water jury mast aft holystone hands marooned.</p>
	  <p>Scuttle man-of-war six pounders deadlights pink gun pirate Barbary Coast fire in the hole brig Shiver me timbers lanyard. Black spot Plate Fleet tack scurvy fire in the hole transom smartly bilge rat to go on account scourge of the seven seas knave skysail. Gibbet hempen halter pinnace fluke jib gabion spirits transom tack hardtack heave to lanyard.</p>

    </div><!-- col -->
  </div><!-- row -->
</div><!-- jumbotron -->